@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

/*
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}
*/
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  Xfloat: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.5em;
  color: RoyalBlue;
  text-transform: uppercase;
  letter-spacing: -1px;
  Xpadding-top: 9px;
  font-weight: bold;
  Xline-height: 1;
}

#logo:hover {
  color: RoyalBlue;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer axxx {
  color: #555;
}

footer axxx:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: left;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

select.date-select {
    width:auto;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

dd {
  /* to prevent shifting up if one of dd has no content */
  /* should be the same as line-height */
  min-height: 20px;
}

/* mixins, variables, etc */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
 }

