<footer class="footer">

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
        <%= link_to "About", static_about_path %>
	    </div>

    <div class="col-md-4">
      <p class="muted pull-right">
	      <small>© 2013 by Johann Kropf. All rights reserved</small>
	    </p>
    </div>
	</div>

</footer>
