<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
   <div class="navbar-header">

     <div class="navbar-brand">
         <%= link_to "Maintenance", '#', id: "logo" %>
     </div>
   </div>

   <div>
     <ul class="nav navbar-nav">
         <li><%= link_to "Contracts", hwservices_path %></li>
         <li><%= link_to "Log in", login_path %></li>
     </ul>
   </div>
</nav>
